<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stonesoup.mapper.MainMapper">

	<update id="board_t_views_up">
	
		UPDATE
			BODER_DATA
		SET
			T_VIEWS = T_VIEWS + 1
		WHERE
			T_NUM = #{t_num}
			
	</update>
	
	<select id="board_view" resultType="com.stonesoup.data.boardVO">
	
		SELECT
			T_NUM, T_NAME, T_CONTENT, MEMBER, T_DATE, T_M_DATE, T_VIEWS
		FROM
			BODER_DATA
		WHERE
			T_NUM = #{t_num}
	
	</select>

<!-- 
	<insert id="board_Maker" parameterType="com.stonesoup.data.boardVO">
		
		
		
	</insert>
 -->	
	
</mapper>  